body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
      
}

/* menu navigasi */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    overflow: hidden;
    background-color: dimgray;
    
    
}

nav img{
  padding-left: 10px;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 10px;
  color: #000;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.link::before,
.link::after {
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #00fffc;
  transform: scaleX(0);
  transition: transform 0.25s;
}

.link::before {
  top: -3px;
  transform-origin: left;
}

.link::after {
  bottom: -3px;
  transform-origin: right;
}

.link:hover::before,
.link:hover::after,
.active::before,
.active::after {
  transform: scaleX(1);
}


.name {
  position: absolute;
  top: 70%;
  font-size: 11px;
  color: #00fffc;
  font-weight: 800;
}


/* header */

header {
    text-align: center;
}

header img {
    width:98%;
    aspect-ratio: auto;
    margin-bottom: 20;
}

/* konten 1 */

.kursus {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.kursus div {
    text-align: center;
}

.lingkaran {
    width: 100px;
    height: 100px;
    border: 2px solid grey;
    border-radius:50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* konten 2 */

#content { 
    overflow:auto; 
    width: 100%; 
    
    align-content: center;
  } 
  
  #left, #right { 
    width: 40%; 
    margin:5px; 
    padding: 1em; 
    background: white; 
  } 
  
  #left  { float:left;  }
  #right { float:right; } 


  /* editan form */
  .form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  .form label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form input,
  .form textarea, .form input[type="date"], .form select {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .form textarea {
    height: 150px;
  }
  
  .form button {
    background-color: #000;    
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;  
  }

  /* table */
  table,th,tr,td {
    border:0.5px solid black;
    text-align: center;
  }

  th,tr,td {
    padding: 5px;
  }
  
  
  /* footer */
  footer {
    text-align: center;
    padding: 3px;
    background-color: dimgray;
    text-decoration: none;
  }
  